bg{
    color: #A9B7D0
}
/* @page{
    size: A4;
    margin: 10px;
}
    
@media print {
    @page{
        size: A4;
        margin: 10px;
    }
    .print-report .form-group{ margin-bottom: 10px; }
.print-report .form-group p{ margin-bottom: 0px; }
.print-report .form-group label{ margin-bottom: 0px; font-weight: 700; }
.print-report .table{ margin-bottom: 0; border: 1px solid #dee2e6; }
.print-report .table thead th,
.print-report .table tbody td { padding: 7px; }
.print-report .table thead th{     background-color: #dee2e6;
    color: #333;
    font-weight: 700; }
    
    
}

.print-report .form-group{ margin-bottom: 10px; }
.print-report .form-group p{ margin-bottom: 0px; }
.print-report .form-group label{ margin-bottom: 0px; font-weight: 700; }
.print-report .table{ margin-bottom: 0; border: 1px solid #dee2e6; }
.print-report .table thead th,
.print-report .table tbody td { padding: 7px; }
.print-report .table thead th{     background-color: #dee2e6;
    color: #333;
    font-weight: 700; } */